.hero-image {
  background-image: url(../assets/img/doordash.jpg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
}


.food-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.food-list a {
  color: black;
}

.food-list img {
  width: 400px;
  height: 200px;
  padding: 5px;
}

span {
  display: block;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.food-section h2{
  margin-left: 4%;
}

.dasher {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.dasher div {
  width: 32%;
}
.dasher img {
  width: 154px;
  height: 154px;
}
.dasher p{
  width: 70%;
  margin: auto;
  text-align: center;
}
.dasher a {
  color: red;
}

.ad-1{
  margin-top: 20px;
}
.ad-1-image{
  width: 60%;
}
.ad-1 .row{
  display: flex;
  justify-content: space-around;
}
.ad-1-text {
  text-align: center;
}
.ad-1-text p{
width: 70%;
margin: auto;
}
.ad-1 button {
  border-radius: 30px;
  background-color: red;
  color: white;
  padding: 15px;
}


.ad-2{
  background-color: lightpink;
  padding: 20px;
}
.ad-2 .row{
  display: flex;
}
.ad-2-text {
  text-align: center;
}
.ad-2-text p{
  width: 70%;
  margin: auto;
}
.ad-2 button {
  border-radius: 30px;
  background-color: red;
  color: white;
  padding: 15px;
}
