.container {

}
.food-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.food-list a {
  color: black;
}

.food-list img {
  width: 400px;
  height: 200px;
  padding: 5px;
}

span {
  display: block;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.food-section h2{
  margin-left: 4%;
}

.dasher {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.dasher div {
  width: 32%;
}
.dasher img {
  width: 154px;
  height: 154px;
}
.dasher p{
  width: 70%;
  margin: auto;
  text-align: center;
}
.dasher a {
  color: red;
}
