<div class="container">

    <div class="hero-image">
      <div class="hero-text">
        <h1>Your Favorite restaurants, delivered</h1>
      </div>
    </div>


  <div class="food-section">
    <h2>Local Favorites</h2>
    <div class="food-list">
      <a href="#">
        <img src="../assets/img/chick.png" alt="">
        <span>Chick-fil-A</span>
      </a>
      <a href="#">
        <img src="../assets/img/wingstop.png" alt="">
        <span>Wingstop</span>
      </a>
      <a href="#">
        <img src="../assets/img/porto.png" alt="">
        <span>Porto's Bakery Cafe</span>
      </a>
      <a href="#">
        <img src="../assets/img/mcdonald.png" alt="">
        <span>McDonald</span>
      </a>
      <a href="#">
        <img src="../assets/img/mimi.png" alt="">
        <span>mimi's Cafe</span>
      </a>
      <a href="#">
        <img src="../assets/img/chipotle.png" alt="">
        <span>Chipotle</span>
      </a>
    </div>
  </div>


  <div class="dasher">
    <div>
      <img src="https://cdn.doordash.com/media/consumer/home/landing/new/ScootScoot.svg" alt="">
      <h2>Become a Dasher</h2>
      <p>As a delivery driver, you'll make reliable money-working anytime, anywhere.</p>
      <a href="#">Start earning</a>
    </div>
    <div>
      <img src="https://cdn.doordash.com/media/consumer/home/landing/new/Storefront%202.svg" alt="">
      <h2>Become a Partner</h2>
      <p>Grow your business and reach new customers by partnering with us.</p>
      <a href="#">Sign up your store</a>
    </div>
    <div>
      <img src="https://cdn.doordash.com/media/consumer/home/landing/new/iphone.svg" alt="">
      <h2>Become a Dasher</h2>
      <p>As a delivery driver, you'll make reliable money-working anytime, anywhere.</p>
      <a href="#">Get the app</a>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
