<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="changeText()">
        Only show {{ text }} numbers
      </button>
      <br>
      <br>
      <ul class="list-group">
        <div *ngIf="onlyOdd === false">
          <li class="list-group-item" *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="onlyOdd !== false">
          <li class="list-group-item" *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
