<!-- The display a list -->
<div>

  <h2>My Heroes</h2>
  <ul class="heroes">
          <!-- click event binding if you click on something gets passed to onselect hero
          having the let hero gives access to the hero variable for all other attributes
          SO all the child elements within li has access to the hero variable-->
    <li [class.selected]="hero === selectedHero" *ngFor="let hero of heroes" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>

  <div *ngIf="selectedHero">

    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedHero.name" placeholder="name" />
      </label>
    </div>

  </div>

</div>
