<!-- The display a list -->
<div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

  <!-- <h2>My Heroes</h2>
  <ul class="heroes">
    <li [class.selected]="hero === selectedHero" *ngFor="let hero of heroes" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul> -->

  <!-- one way data binding passing the selectedHero property of the heroes
  component to the hero property of the app hero detail component -->
  <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

</div>
