<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <hr>
      <!-- Will display component based on selectors name -->
      <app-servers></app-servers>

      <!-- You can grab the component by their attribute, check selector -->
      <!-- <div app-servers></div> -->

      <!-- You can select component by class -->
      <!-- <div class="app-servers"></div> -->


    </div>
  </div>
</div>



<!-- Will render the compoenent based on the router -->
<router-outlet></router-outlet>
